header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}

/* # eh pra id, . eh pra classe*/
.banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
	padding:30px;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
}

.titulo-centralizado {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	padding: 10px 0;
}

p {
	text-align: center;
}

#missao {
	 font-size:20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.itensbeneficios {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}